/* style.css for main portfolio page */

/* Ensure body styling is consistent */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #ffd700; /* Yellow background for consistency */
    margin: 0;
    padding: 0;
  }
  
  /* Header styling */
  header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  
#name{
  z-index: 11;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(1,0.8,1,0.7);
  position: absolute;
  top: 5%;
  left: 32.7%;
  color: #FFD700;
  text-shadow: 0 0 8px rgba(255, 255, 0, 0.5);
  font-size: 96px;
  font-family: 'Courier New', monospace;
  letter-spacing: 3px;
  pointer-events: none;
  user-select: none;
}

  /* Main content styling */
  main {
    padding: 2rem;
  }
  
  /* Example section styling */
  section {
    margin-bottom: 2rem;
  }
  
  /* Add additional styles as needed */
  